@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .swiper-button-prev,
    .swiper-button-next {
        color: rgba(142, 142, 251, 0.5) !important;
        width: 35px !important;
        transition: all ease .3s !important;
        top: calc(50% - .875rem) !important;
    }
    .swiper-button-prev {
        left: 0px !important;
    }

    .swiper-button-next {
        right: 0px !important;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        width: 53px !important;
        height: 53px !important;
    }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}